body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  background-color: #060b18;
}

.container {
  background-color: #060b18;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  height: 100vh;
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  padding-top: 150px;
  margin-bottom: 50px;
  background: linear-gradient(90deg, #1e90ff, #00bfff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.grid {
  display: grid;
  place-items: center;
  grid-template-columns: 3fr 9fr;
  gap: 50px;
  align-items: start;
  margin-top: 25px;
}

.sectionLeft {
  color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.sectionLeft img {
  height: 125px;
  width: 125px;
}

.sectionLeft h2 {
  font-size: 1.8rem;
  padding-top: 10px;
}

.sectionLeft h4 {
  color: #1e90ff;
  font-size: 1.2rem;
}

.sectionRight {
  background-color: transparent !important;
  color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
}

.skillsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
  gap: 30px;
  padding: 20px;
  justify-items: center;
}

.skillCard {
  background-color: #1e293b;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  width: 150px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skillCard img {
  width: 70px;
  height: 70px;
  object-fit: contain;
  margin-bottom: 10px;
}

.skillCard h3 {
  color: white;
  font-size: 1rem;
  margin: 0;
}

.skillCard:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 15px rgba(30, 144, 255, 0.5);
}

.certificatesGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
  justify-items: center;
}

.certificateCard {
  position: relative;
  background-color: #1e293b;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  width: 320px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.certificateCard img {
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 5px;
  transition: transform 0.3s ease-in-out;
}

.certificateCard:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 15px rgba(30, 144, 255, 0.5);
}

.fullscreenIcon {
  position: absolute;
  top: 20px;
  right: 25px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  padding: 5px;
  font-size: 1.2rem;
  color: black;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.certificateCard:hover .fullscreenIcon {
  opacity: 1;
}

.fullscreenOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.fullscreenImage {
  max-width: 90%;
  max-height: 90%;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
  transition: transform 0.3s ease-in-out;
}

.fullscreenClose {
  position: absolute;
  top: 35px;
  right: 35px;
  font-size: 2rem;
  color: white;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.fullscreenClose:hover {
  transform: scale(1.2);
}

.socialContainer {
  margin-top: 15px;
}

.socialButton {
  color: #fff;
  cursor: pointer;
  padding: 5px;
  font-size: 1.6rem;
  margin: 0 10px;
}

.socialButton:hover {
  color: #1e90ff;
}

hr {
  margin: 25px 0;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.menuButton {
  background-color: transparent;
  border: none;
  color: #ffffff;
  font-size: 1.2rem;
  cursor: pointer;
  padding: 10px;
  text-align: left;
  width: 100%;
  margin-top: 15px;
  transition: background-color 0.3s ease-in-out, color 0.3s;
}

.menuButton:first-child {
  margin-top: 0;
}

.menuButton:hover {
  color: #1e90ff;
  background-color: #1e293b;
}

.menuButton.active {
  color: #1e90ff;
  border-right: 2px solid #1e90ff;
}

.sectionRight {
  background-color: #1e293b;
  color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  height: auto;
}

/*RESPONSIVE DESIGN*/
@media (max-width: 1920px) {
  .certificatesGrid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  .certificateCard {
    width: 300px;
  }
}

@media (max-width: 1024px) {
  .grid {
    grid-template-columns: 3fr 8fr;
    gap: 50px;
  }

  .skillsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
    gap: 32px;
    padding: 20px;
    justify-items: center;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 2.3rem;
  }

  .sectionLeft {
    max-width: 450px;
  }

  .grid {
    grid-template-columns: 12fr;
  }

  .menu {
    flex-direction: row;
    overflow-x: scroll;
  }

  .menuButton {
    margin-top: 0;
    text-align: center;
  }

  .menuButton svg {
    padding-bottom: 5px;
  }

  .menuButton.active {
    border-right: none;
    border-bottom: 2px solid #1e90ff;
  }
}

@media (max-width: 450px) {
  .title {
    font-size: 1.8rem;
    padding-top: 125px;
    margin-bottom: 25px;
  }

  .grid {
    gap: 25px;
  }

  .sectionLeft {
    max-width: 375px;
  }

  .sectionLeft img {
    height: 110px;
    width: 110px;
  }

  .sectionLeft h2 {
    font-size: 1.6rem;
  }

  .sectionLeft h4 {
    font-size: 1.1rem;
  }

  .menuButton {
    font-size: 1.1rem;
  }

  .skillCard {
    width: 140px;
  }

  .skillCard img {
    width: 60px;
    height: 60px;
  }

  .skillCard h3 {
    font-size: 0.9rem;
  }

  .certificateCard {
    width: 275px;
  }

  .timelineTitle {
    font-size: 1.1rem;
  }

  .timelineCompany,
  .timelineDate {
    font-size: 0.9rem;
  }
}

@media (max-width: 400px) {
  .sectionLeft {
    max-width: 370px;
    padding-left: 35px;
    padding-right: 35px;
  }

  .sectionLeft img {
    height: 90px;
    width: 90px;
  }

  .sectionLeft h2 {
    font-size: 1.4rem;
  }

  .sectionLeft h4 {
    font-size: 1rem;
  }

  .socialButton {
    font-size: 1.3rem;
  }

  .menuButton {
    font-size: 1rem;
  }

  .skillCard {
    width: 130px;
  }

  .skillCard img {
    width: 50px;
    height: 50px;
  }

  .skillCard h3 {
    font-size: 0.8rem;
  }

  .certificateCard {
    width: 265px;
  }

  .timelineTitle {
    font-size: 1rem;
  }

  .timelineCompany,
  .timelineDate {
    font-size: 0.8rem;
  }
}

@media (max-width: 360px) {
  .title {
    font-size: 1.6rem;
  }
}

@media (max-width: 320px) {
  .title {
    font-size: 1.4rem;
  }

  .sectionLeft {
    max-width: 320px;
  }

  .sectionLeft img {
    height: 80px;
    width: 80px;
  }

  .sectionLeft h2 {
    font-size: 1.2rem;
  }

  .sectionLeft h4 {
    font-size: 0.9rem;
  }

  .menuButton {
    font-size: 0.9rem;
  }

  .sectionRight {
    padding: 20px 0;
  }

  .skillsGrid {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }

  .skillCard {
    width: 110px;
  }

  .skillCard img {
    width: 45px;
    height: 45px;
  }

  .skillCard h3 {
    font-size: 0.8rem;
  }

  .certificateCard {
    width: 220px;
  }

  .timelineTitle {
    font-size: 0.9rem;
  }

  .timelineCompany,
  .timelineDate {
    font-size: 0.7rem;
  }
}
