body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  background-color: #060b18;
}

.container {
  background-color: #060b18;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  min-height: 100vh;
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  padding-top: 150px;
  margin-bottom: 60px;
  background: linear-gradient(90deg, #1e90ff, #00bfff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.cardsGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 20px;
  margin-top: 25px;
  margin-bottom: 5px;
  justify-items: center;
}

.projectCard {
  background-color: #1e293b;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  width: 400px;
}

.projectCard:hover {
  transform: scale(1.1);
  box-shadow: 0 10px 15px rgba(30, 144, 255, 0.3);
}

.imageWrapper {
  position: relative;
}

.projectImage {
  width: 100%;
  height: 225px;
  object-fit: cover;
  position: relative;
}

.realClientTag {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #000000c3;
  color: white;
  padding: 5px 10px;
  font-size: 0.8rem;
  border-radius: 5px;
  font-weight: bold;
  text-transform: uppercase;
}

.gameJamTag {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #000000c3;
  color: white;
  padding: 5px 10px;
  font-size: 0.8rem;
  border-radius: 5px;
  font-weight: bold;
  text-transform: uppercase;
}

.swiper-button-next,
.swiper-button-prev {
  color: #fff;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: #1e90ff;
}

.projectContent {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.projectTitle {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-top: 10px;
}

.projectDescription {
  color: #b6b6b6;
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.projectDescription span {
  font-size: 0.9rem;
  color: #aaa;
}

.techStack {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  overflow-x: auto;
  scrollbar-width: none;
}

.techItem {
  background-color: #3c4a5e;
  color: #ffffff;
  font-size: 0.8rem;
  padding: 5px 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.techIcon {
  font-size: 1rem;
}

.separator {
  border: none;
  height: 1px;
  background-color: #b6b6b6;
  transform: scaleY(0.5);
}

.cardActions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.leftActions {
  display: flex;
  gap: 5px;
}

.actionButton {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  color: #ffffff;
  border-radius: 50%;
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: pointer;
}

.actionButton:hover {
  background-color: #1e90ff;
}

.noDemo,
.noGitHub {
  display: flex;
  align-items: center;
  color: #b6b6b6;
}

.detailsButton {
  background-color: #1e90ff;
  color: #ffffff;
  border: 1px solid #1e90ff;
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.detailsButton:hover {
  background-color: #005f9e;
  border: 1px solid #005f9e;
}

.liveDemo,
.github,
.details {
  background-color: transparent;
  color: #1e90ff;
  border: 1px solid #1e90ff;
  padding: 5px 15px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 0.9rem;
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: pointer;
}

.liveDemo:hover,
.github:hover,
.details:hover {
  background-color: #1e90ff;
  color: #ffffff;
}

/* Dialog styles */
.dialogOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  overflow-y: auto;
}

.dialogContent {
  background-color: #1e293b;
  padding: 20px;
  border-radius: 10px;
  max-width: 800px;
  width: 90%;
  max-height: 85vh;
  overflow-y: auto;
  color: #ffffff;
  position: relative;
}

.dialogImageContainer {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialogImage {
  width: 100%;
  height: 400px;
  object-fit: contain;
  margin-bottom: 20px;
  margin-top: 50px;
  border-radius: 10px;
  position: relative;
}

.dialogTitle {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.dialogDescription {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 20px;
  color: #b6b6b6;
}

.dialogTechStack {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.closeDialogButton {
  position: absolute;
  top: 10px;
  right: 20px;
  background: none;
  border: none;
  font-size: 2.5rem;
  color: #ffffff;
  cursor: pointer;
  transition: transform 0.2s ease;
  z-index: 2;
}

.closeDialogButton:hover {
  transform: scale(1.2);
  color: #1e90ff;
}

.dialogActions {
  display: flex;
  gap: 10px;
}

.swiperButton {
  position: absolute;
  top: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  font-size: 12px;
  padding: 30px;
  cursor: pointer;
  z-index: 10;
  transition: background-color 0.3s ease;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiperButton:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

:global(.swiper-button-prev) {
  left: 0px;
}

:global(.swiper-button-next) {
  right: 0px;
}

@media (max-width: 1300px) {
  .cardsGrid {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    padding: 20px;
    justify-items: center;
  }
}

@media (max-width: 875px) {
  .title {
    font-size: 2.3rem;
  }

  .cardsGrid {
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    padding: 20px;
    justify-items: center;
  }
}

@media (max-width: 450px) {
  .title {
    font-size: 1.8rem;
    padding-top: 125px;
    margin-bottom: 25px;
  }

  .projectCard {
    width: 375px;
  }

  .dialogImage {
    height: 200px;
  }
}

@media (max-width: 400px) {
  .title {
    margin-bottom: 35px;
  }

  .container {
    padding: 10px;
  }

  .projectImage {
    height: 175px;
  }

  .projectTitle {
    font-size: 1.4rem;
  }

  .projectDescription {
    font-size: 0.9rem;
  }

  .projectDescription span {
    font-size: 0.8rem;
    color: #aaa;
  }

  .techIcon {
    font-size: 0.9rem;
  }

  .techItem {
    font-size: 0.7rem;
  }

  .actionButton {
    font-size: 20px;
    width: 36px;
    height: 36px;
  }

  .noDemo,
  .noGitHub {
    font-size: 0.9rem;
  }

  .detailsButton {
    font-size: 0.9rem;
  }

  .cardsGrid {
    padding: 10px;
  }

  .projectCard {
    width: 95%;
  }

  .realClientTag {
    font-size: 0.7rem;
  }

  .gameJamTag {
    font-size: 0.7rem;
  }

  /* Dialog styles */
  .dialogTitle {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .dialogDescription {
    font-size: 0.9rem;
    line-height: 1.5;
    margin-bottom: 20px;
    color: #b6b6b6;
  }
}

@media (max-width: 360px) {
  .title {
    font-size: 1.6rem;
  }
}

@media (max-width: 320px) {
  .title {
    font-size: 1.4rem;
  }
}
