body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
}

.container {
  background-color: #060b18;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  height: 100vh;
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  padding-top: 150px;
  margin-bottom: 50px;
  background: linear-gradient(90deg, #1e90ff, #00bfff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.grid {
  display: grid;
  place-items: center;
  grid-template-columns: 3fr 9fr;
  gap: 50px;
  align-items: start;
  margin-top: 25px;
}

.sectionLeft {
  color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.sectionLeft img {
  height: 125px;
  width: 125px;
}

.sectionLeft h2 {
  font-size: 1.8rem;
  padding-top: 10px;
}

.sectionLeft h4 {
  color: #1e90ff;
  font-size: 1.2rem;
}

.sectionRight {
  background-color: transparent !important;
  color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
}

.skillsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
  gap: 30px;
  padding: 20px;
  justify-items: center;
}

.skillCard {
  background-color: #1e293b;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  width: 150px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skillCard img {
  width: 70px;
  height: 70px;
  object-fit: contain;
  margin-bottom: 10px;
}

.skillCard h3 {
  color: white;
  font-size: 1rem;
  margin: 0;
}

.skillCard:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 15px rgba(30, 144, 255, 0.5);
}

.socialContainer {
  margin-top: 15px;
}

.socialButton {
  color: #fff;
  cursor: pointer;
  padding: 5px;
  font-size: 1.6rem;
  margin: 0 10px;
}

.socialButton:hover {
  color: #1e90ff;
}

hr {
  margin: 25px 0;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.menuButton {
  background-color: transparent;
  border: none;
  color: #ffffff;
  font-size: 1.2rem;
  cursor: pointer;
  padding: 10px;
  text-align: left;
  width: 100%;
  margin-top: 15px;
  transition: background-color 0.3s ease-in-out, color 0.3s;
}

.menuButton:first-child {
  margin-top: 0;
}

.menuButton:hover {
  color: #1e90ff;
  background-color: #1e293b;
}

.menuButton.active {
  color: #1e90ff;
  border-right: 2px solid #1e90ff;
}

.sectionRight {
  background-color: #1e293b;
  color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .sectionLeft {
    max-width: 350px;
  }

  .grid {
    grid-template-columns: 12fr;
  }

  .menu {
    flex-direction: row;
    overflow-x: scroll;
  }

  .menuButton {
    margin-top: 0;
    text-align: center;
  }

  .menuButton svg {
    padding-bottom: 5px;
  }

  .menuButton.active {
    border-right: none;
    border-bottom: 2px solid #1e90ff;
  }
}
