body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  background-color: #060b18;
}

.container {
  background-color: #060b18;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  min-height: 100vh;
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  padding-top: 150px;
  margin-bottom: 50px;
  background: linear-gradient(90deg, #1e90ff, #00bfff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.form {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 30px;
  width: 650px;
  margin-top: 45px;
  margin-bottom: 25px;
  background-color: #1e293b;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.8);
}

.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.textareaWrapper {
  position: relative;
}

.icon {
  position: absolute;
  left: 15px;
  color: rgba(255, 255, 255, 0.7);
  font-size: 1rem;
}

.textareaIcon {
  position: absolute;
  left: 15px;
  top: 20px;
  color: rgba(255, 255, 255, 0.7);
  font-size: 1rem;
}

.input,
.textarea {
  width: 100%;
  padding: 15px;
  padding-left: 40px;
  background-color: #3c4a5e;
  border: 1px solid #6b7280;
  border-radius: 10px;
  color: #fff;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
}

.textarea {
  height: 120px;
  resize: none;
}

.input::placeholder,
.textarea::placeholder {
  color: rgba(255, 255, 255, 0.7);
  font-size: 1rem;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: linear-gradient(90deg, #1e90ff, #00bfff);
  border: none;
  margin-top: 15px;
  padding: 15px;
  color: white;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.button:hover {
  background: linear-gradient(90deg, #00bfff, #1e90ff);
}

.planeIcon {
  font-size: 1.2rem;
}

.separator {
  border: none;
  height: 1px;
  background-color: #b6b6b6;
  transform: scaleY(0.5);
}

.contactInfo {
  color: #fff;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 15px;
}

.line {
  width: 40px;
  height: 5px;
  border-radius: 10px;
  background: linear-gradient(90deg, #1e90ff, #00bfff);
  margin-right: 15px;
}

.contactItem {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.7);
}

.contactIcon {
  color: #1e90ff;
  font-size: 1.2rem;
}

.contactLink {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.contactLink:hover {
  color: #1e90ff;
  text-decoration: underline;
}

.socialItems {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 30px;
}

.socialLink {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #fff;
  font-size: 1.8rem;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.socialLink:hover {
  background-color: #1e90ff;
}

@media (max-width: 1440px) {
  .form {
    gap: 25px;
    width: 650px;
  }
}

@media (max-width: 800px) {
  .title {
    font-size: 2.3rem;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 2.3rem;
  }

  .form {
    width: 600px;
  }
}

@media (max-width: 739px) {
  .title {
    font-size: 2.1rem;
  }
}

@media (max-width: 678px) {
  .title {
    font-size: 2rem;
  }

  .form {
    width: 550px;
  }
}

@media (max-width: 648px) {
  .title {
    font-size: 1.9rem;
  }
}

@media (max-width: 618px) {
  .title {
    padding-top: 125px;
    margin-bottom: 25px;
  }

  .form {
    width: 500px;
  }
}

@media (max-width: 590px) {
  .form {
    width: 475px;
  }
}

@media (max-width: 560px) {
  .form {
    width: 450px;
  }
}

@media (max-width: 530px) {
  .form {
    width: 425px;
  }
}

@media (max-width: 500px) {
  .form {
    width: 400px;
  }
}

@media (max-width: 470px) {
  .form {
    width: 375px;
  }
}

@media (max-width: 440px) {
  .form {
    width: 350px;
  }
}

@media (max-width: 425px) {
  .title {
    font-size: 1.8rem;
  }
}

@media (max-width: 400px) {
  .form {
    width: 325px;
  }
}

@media (max-width: 375px) {
  .title {
    font-size: 1.6rem;
  }

  .form {
    width: 300px;
  }

  .button {
    font-size: 0.9rem;
  }

  .planeIcon {
    font-size: 1.1rem;
  }

  .contactItem {
    font-size: 0.9rem;
  }

  .contactIcon {
    font-size: 1.1rem;
  }

  .contactLink {
    font-size: 0.9rem;
  }

  .socialLink {
    font-size: 1.6rem;
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 350px) {
  .title {
    font-size: 1.4rem;
  }

  .form {
    width: 275px;
  }

  .input,
  .textarea {
    padding: 10px;
    padding-left: 40px;
  }

  .textarea {
    height: 100px;
    resize: none;
  }

  .textareaIcon {
    top: 15px;
    font-size: 1rem;
  }

  .button {
    font-size: 0.9rem;
  }

  .planeIcon {
    font-size: 1.1rem;
  }

  .contactItem {
    font-size: 0.8rem;
  }

  .contactIcon {
    font-size: 1rem;
  }

  .contactLink {
    font-size: 0.8rem;
  }

  .socialLink {
    font-size: 1.4rem;
    width: 40px;
    height: 40px;
  }
}
